@mixin flexAlign($hor:center,$vert:center, $pos:row){
    justify-content:$hor;
    align-items:$vert;
    flex-direction: center;
    display: flex;
}

@mixin fontStyle($fontSize: 14px, $fontWeight: 500, $color: $text-color-main) {
    color: $color; 
    font-size: $fontSize;
    font-weight: $fontWeight;
}