@import'./colors.scss';
@import'./mixins.scss';
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    @include flexAlign;
    }

.container{
    width: 1172px;

    @media screen and (max-width:1192){
       @include flexAlign($pos: column-revers);
    }
}

.header{
    height: 109px;
    justify-content: space-between;

    &__menu{
           @include flexAlign;

        &-logo{

        }
        .links{
            list-style-type: none;

            &__item{
                display: inline-block;
                margin-left: 30px;

                a{
                    text-decoration: none;
                    @include fontStyle();
                }
            }
        }
    }

    &__contacts{
        @include flexAlign();

        &-item{
            margin-right: 40px;
            color: $text-color-main;

            &:last-child{
            margin-right: 0%;
            }

        &-text{
            text-decoration: none;
            @include fontStyle;
             }
        }
    }
}

.banner{
    height: 730px;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    clip-path: polygon(0 0, 70% 0, 75% 5%, 80% 0, 100% 0, 100% 100%, 30% 100%, 25% 95%, 20% 100%, 0 100%);

    &__content{
        height: 730px;
        padding-top: 180px;
        box-sizing: border-box;

        .info{
            color: white;

            &_title{
                margin: 0;
                @include fontStyle(36px, 300, inherit);
            }

            &_text{
                margin: (45px 0 55px 0);
                @include fontStyle(14px, 300, inherit);
                line-height: 22px;
                letter-spacing: 3px;
            }
        }
    }
}

.title {
    @include fontStyle(69px, 900, white);
    margin: 0;
    margin-bottom: 18px;
    letter-spacing: 2px;

    &_main{
        color: $text-color-main;
    }
    &_active{
        color: $active-color;
        
    }
}

.divited{
    width: 105px;
    border: none;
    border-top: 2px solid $text-color-main;
    margin: 30px 0 44px 0;
 }

.button{
    height: 60px;
    width: 240px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 3px solid rgba(white, .7);
    box-sizing: border-box;
    text-transform: uppercase;
    @include fontStyle(21px, 900, white);
    cursor: pointer;
    transition: .3s;
    animation-name: buttonAnimation;
    animation-duration: 2s;
    @include flexAlign;

    &:hover{
        background-color: rgba($text-color-main, .4);
        box-shadow: 0 0 10px 0 rgba(black, .6);

    }

    &_learn{
        border-color:$text-color-main;
        color: $text-color-main;
    }
}

.features{
    flex-direction: column;
    &_text{
        width: 770px;
        text-align: center;
        @include fontStyle(16px, 300, $text-color-muted);      
        
    }

    .navigation{
        width: 100%;
        @include flexAlign;
        margin-top: 67px;
        

        &_radio{
            display: none;
        }

        &_menu{
        min-width: 350px;
        border-right: 1px solid rgba($text-color-main, .4);
        

            &-item{
                width: 100%;
                height: 120px;
                @include flexAlign(space-between);
                padding: 0 60px 0 40 px;
                box-sizing: border-box;
                position: relative;


                .icon{
                    fill: $text-color-muted;
                  
                }
                .text{
                    @include fontStyle(20px,300 ,$text-color-muted );
                   
                }
            }
        }
         
        &_content {
            width: 100%;

           .feature{
               width: 100%;
               height: 600px;
               @include flexAlign($pos: column);
               display: none;  

               &__image{
                   filter: grayscale(100%) opacity(.5);//изменяет цвет картинки наведении
                   margin-bottom: 80px;
                   }

               &__content{
                   width: 100%;
                    

                    &-title {
                        margin: 0;
                        @include fontStyle (24px, 900);
                         margin-bottom: 38px;
                    }

                    &-text{
                        margin: 0;
                        @include fontStyle (16px,300, $text-color-muted);
                        width: 670px;
                        line-height: 24px;
                       
                    }
               }
           }
        }
    }
}

.smart {
    background-color: $even-background;
    padding: 80px 0;
    box-sizing: border-box;

    .container{
        @include flexAlign;
    }

    &__content{
        width: 50%;

        &-title{
            @include fontStyle(36px, 300);

        }

        &-text{
            @include fontStyle(36px, 300, $text-color-muted);
            padding-right: 100px;
            box-sizing: border-box;
            margin-bottom: 60px;
        }
        
    }

    &__image{
        width: 50%;
        @include flexAlign;
    }
}

//----

#bag:checked ~ .navigation__menu> .bag {
    
    &::after{
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }

    &::after
    .text{
    @include fontStyle(20px, 500,$text-color-main );
    }

    .icon{
        fill: $active-color;
    }
}

#bag:checked ~ .navigation__content > .bag{
    display: flex;
}

#leaf:checked ~ .navigation__menu> .leaf {
    
    &::after{
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }

    .text{
    @include fontStyle(20px, 500,$text-color-main );
    }

    .icon{
        fill: $active-color;
    }
}

#bag:checked ~ .navigation__content > .heart{
    display: flex;
}

#umbr:checked ~ navigation_menu > .umbr{
    &::after{
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }
}
//----

@keyframes buttonAnimation{
    0% {
        transform: translate(-100px, -100px);
    }

    20% {
        transform: rotate(360deg) translate(-80px, -80px);
    }

    40% {
        transform: rotate(-100deg) translate(-50px, -40px);
    }

    60% {
        transform: rotate(100deg) translate(20px, 20 px);
    }

    80% {
        transform: rotate(0) translate(0, 0);
    }

    100% {
        transform: rotate() translate(0, 0);
    }
}

.portfolio{
    @include flexAlign($pos: column);
    padding: 100px 0;

    &__avatar{
        margin: 22px 0 50px 0;
    }

    &__quote{
        font-style: italic;
        margin-bottom: 26px;
        @include fontStyle(24px, 300, $text-color-muted);
    }

    &__name{
        @include fontStyle(24px, 300, $active-color);
        margin-bottom: 40px;
    }

    .pagination{

        @include flexAlign(space-between);
        width: 50px;

        &__radio{
            display: none;

            &:checked + .paginaion__dot{
                background: $active-color;
            }
        }

        &__dot{
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $text-color-muted;
            cursor: pointer;

        &_active{
            background-color: $active-color;
        }
    }
}

.newletter{
    background-color: $text-color-muted;

    .container{
        padding: 90px 0 120px 0;
        @include flexAlign($pos: column);
    }

    &__form{
        margin-top: 40px;
    
    &-text{
        width: 685px;
        height: 60px;
        border: 2px solid $text-color-main;
        box-sizing: border-box;
        border-radius: 30px;
        outline: none;
        padding: 0 100px 0 30px;
        @include fontStyle($fontWeight: 300);

    }
    &-btn{
        background-color: $active-color;
        @include fontStyle(20px, $color: white);
        text-transform: uppercase;
        outline: none;
        border: none;
        height: 62px;
        width: 170px;
        border-radius: 31px;
        transform: translate(-90px, 2px);

        &::-webkit-input-placeholder{
            color: red;
        }
       
    }

    }
}